<main>
  <!--  <strong style="font-size: xxx-large;"> COMING SOON!</strong> -->

<div class="container">
            <h2>COMING SOON!</h2>
            
            <div class="banner">
                <img id="responsive-banner" width="500" height="300" src="/public/images/coming-soon.jpg" alt="ArtisanAura Jewelry">
            </div>
           
            <h3>Something Exciting Is On Its Way...</h3>
            <p>
            Embrace the convergence of innovation, personalization, and sustainability with ArtisanAura, your go-to online platform for high-quality, distinctive artisan and locally crafted jewelry. From necklaces to bracelets, rings, and engagement rings, our eclectic collection showcases an array of handmade pieces that radiate individuality and creativity.
            </p>
    <p>We are currently working on creating a unique and personalized shopping experience for you. </p>
    <p>Sign up for our newsletter to be the first to know when we launch.</p>
        </div>

{{>newsletter}}
</main>