<main>
<!--
    <div class="container">
        <h2>PHOTOS/VIDEOS GO HERE FORMMATED FOR PHOTOS RIGHT NOW</h2>
        <div id="postThumbnails" class="post-thumbnails">
            <div class="post-card">
                <div class="post-thumbnail">
                    <a href="/link to image" target="_self">
                        <img src="/path to image" alt="path to image" style="border-radius:15px">
                        style adjustable, still need to adjust routes
                    </a>
                </div>
            </div>
        </div>
    </div>

 -->
{{>newsletter}}
{{>quiz}}
{{>addProduct}}
</main>