<main>

    <div class="container">
        <h2>PHOTOS/VIDEOS GO HERE FORMMATED FOR PHOTOS RIGHT NOW</h2>
        <div id="postThumbnails" class="post-thumbnails">
            <div class="post-card">
                <div class="post-thumbnail">
                    <a href="/link to image" target="_self">
                        <img src="/path to image" alt="path to image" style="border-radius:15px">
                        <!--style adjustable, still need to adjust routes-->
                    </a>
                </div>
            </div>
        </div>
    </div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ultrices neque ornare aenean euismod elementum nisi. Nec feugiat nisl pretium fusce id velit ut tortor pretium. Mauris pharetra et ultrices neque. Nisl nunc mi ipsum faucibus vitae aliquet nec. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. Laoreet sit amet cursus sit amet. Semper risus in hendrerit gravida rutrum quisque non. Pulvinar mattis nunc sed blandit libero volutpat. Cras semper auctor neque vitae tempus quam pellentesque nec.

Sit amet dictum sit amet justo donec enim diam. Orci eu lobortis elementum nibh tellus. Vitae semper quis lectus nulla at volutpat diam. Feugiat in fermentum posuere urna nec tincidunt. Amet facilisis magna etiam tempor orci. Sit amet tellus cras adipiscing enim eu turpis. Nisi vitae suscipit tellus mauris a diam maecenas. Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius. Risus feugiat in ante metus dictum at tempor commodo ullamcorper. Leo integer malesuada nunc vel risus commodo viverra maecenas. Massa massa ultricies mi quis hendrerit dolor magna eget est. In eu mi bibendum neque egestas. Semper risus in hendrerit gravida rutrum quisque non tellus orci.

Tortor consequat id porta nibh venenatis cras sed. Semper auctor neque vitae tempus quam pellentesque nec nam. Nulla at volutpat diam ut venenatis tellus. Lectus nulla at volutpat diam ut venenatis tellus in metus. Montes nascetur ridiculus mus mauris vitae. Tortor pretium viverra suspendisse potenti. Facilisi cras fermentum odio eu feugiat pretium nibh ipsum. In hendrerit gravida rutrum quisque non. Ac auctor augue mauris augue neque gravida. Quam vulputate dignissim suspendisse in est ante in nibh mauris. Egestas fringilla phasellus faucibus scelerisque. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus dolor. Lobortis scelerisque fermentum dui faucibus. Lectus mauris ultrices eros in. Cursus risus at ultrices mi tempus imperdiet nulla malesuada pellentesque. Viverra tellus in hac habitasse platea dictumst vestibulum rhoncus est. Sit amet facilisis magna etiam tempor orci eu lobortis elementum. Ultricies mi quis hendrerit dolor.

Gravida in fermentum et sollicitudin ac orci phasellus. Blandit cursus risus at ultrices. Blandit massa enim nec dui nunc mattis enim. Molestie nunc non blandit massa enim nec dui. Risus quis varius quam quisque id diam vel. In nulla posuere sollicitudin aliquam ultrices sagittis orci a. Ultricies mi eget mauris pharetra et. Imperdiet dui accumsan sit amet. Magna ac placerat vestibulum lectus mauris ultrices. Volutpat consequat mauris nunc congue nisi. Diam donec adipiscing tristique risus nec. Auctor urna nunc id cursus metus aliquam eleifend. In dictum non consectetur a erat nam at lectus. Tempus urna et pharetra pharetra massa massa ultricies mi quis.

Sed odio morbi quis commodo. Amet cursus sit amet dictum sit amet. Feugiat scelerisque varius morbi enim nunc. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit sed. Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt id. Sed faucibus turpis in eu mi bibendum neque egestas. Venenatis urna cursus eget nunc scelerisque. Leo urna molestie at elementum. Amet venenatis urna cursus eget nunc scelerisque. Pharetra convallis posuere morbi leo urna molestie at elementum eu. Libero volutpat sed cras ornare arcu dui vivamus. Consectetur lorem donec massa sapien faucibus et molestie ac. Vitae semper quis lectus nulla at volutpat. Nisi porta lorem mollis aliquam ut. Non odio euismod lacinia at quis risus sed. Odio ut sem nulla pharetra diam sit amet nisl suscipit. Dignissim enim sit amet venenatis urna cursus eget.

Pellentesque dignissim enim sit amet venenatis urna cursus eget nunc. Semper eget duis at tellus at urna. Amet luctus venenatis lectus magna fringilla urna porttitor. Vestibulum sed arcu non odio. Semper quis lectus nulla at volutpat diam ut. Dignissim cras tincidunt lobortis feugiat vivamus. Sed adipiscing diam donec adipiscing tristique risus nec. Ultrices gravida dictum fusce ut placerat orci nulla. Velit scelerisque in dictum non consectetur. Erat velit scelerisque in dictum non consectetur a. Mauris pharetra et ultrices neque. Est lorem ipsum dolor sit. Blandit turpis cursus in hac habitasse platea dictumst quisque sagittis.

Nunc mattis enim ut tellus elementum sagittis vitae. Nunc sed velit dignissim sodales. Lectus sit amet est placerat. Blandit turpis cursus in hac habitasse. Etiam erat velit scelerisque in dictum non consectetur a. Tellus elementum sagittis vitae et leo duis ut. Morbi non arcu risus quis. Augue interdum velit euismod in. Blandit volutpat maecenas volutpat blandit aliquam etiam erat velit. Vitae purus faucibus ornare suspendisse sed. At urna condimentum mattis pellentesque. Duis at tellus at urna condimentum mattis pellentesque. Aenean euismod elementum nisi quis eleifend quam adipiscing.

Lectus nulla at volutpat diam ut venenatis. Tempor id eu nisl nunc mi ipsum faucibus vitae. Eget nullam non nisi est sit amet. Ipsum nunc aliquet bibendum enim facilisis gravida neque. Mattis nunc sed blandit libero volutpat sed. Porta non pulvinar neque laoreet. Dapibus ultrices in iaculis nunc sed augue lacus viverra. Feugiat nibh sed pulvinar proin gravida hendrerit lectus. Semper eget duis at tellus at. Arcu dui vivamus arcu felis bibendum ut tristique et egestas. Amet purus gravida quis blandit turpis cursus. Arcu ac tortor dignissim convallis aenean et. Adipiscing tristique risus nec feugiat in.

At risus viverra adipiscing at in tellus integer feugiat. Convallis a cras semper auctor neque. Nullam eget felis eget nunc. Phasellus vestibulum lorem sed risus ultricies. Pellentesque id nibh tortor id. Pharetra magna ac placerat vestibulum lectus mauris. Ultricies leo integer malesuada nunc vel risus commodo viverra. Quis risus sed vulputate odio ut enim blandit. At tempor commodo ullamcorper a lacus vestibulum sed arcu non. Velit laoreet id donec ultrices tincidunt arcu non. Enim ut sem viverra aliquet eget sit. Diam volutpat commodo sed egestas. Ridiculus mus mauris vitae ultricies leo integer malesuada nunc. Quisque id diam vel quam elementum pulvinar etiam.

Ultrices tincidunt arcu non sodales. Convallis tellus id interdum velit laoreet id donec. Nibh sit amet commodo nulla facilisi nullam vehicula ipsum. Sit amet nisl purus in mollis nunc sed. Ultrices tincidunt arcu non sodales neque sodales ut etiam. Iaculis eu non diam phasellus vestibulum lorem. Sed euismod nisi porta lorem mollis. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus nisl. Morbi tristique senectus et netus et malesuada fames ac turpis. Auctor neque vitae tempus quam pellentesque nec nam. Elementum pulvinar etiam non quam lacus suspendisse.</p>
{{>newsletter}}
{{>quiz}}
{{>addProduct}}
</main>