<main>
<!--
    <div class="container">
        <h2>PHOTOS/VIDEOS GO HERE FORMMATED FOR PHOTOS RIGHT NOW</h2>
        <div id="postThumbnails" class="post-thumbnails">
            <div class="post-card">
                <div class="post-thumbnail">
                    <a href="/link to image" target="_self">
                        <img src="/path to image" alt="path to image" style="border-radius:15px">
                        style adjustable, still need to adjust routes
                    </a>
                </div>
            </div>
        </div>
    </div>

 -->
        <div class="container">
            <h2>Welcome to ArtisanAura Jewelry</h2>
            <div class="banner">
                <img id="responsive-banner" src="/public/images/home-page-banner-compressed.jpeg" alt="ArtisanAura Jewelry">
            </div>
           
            <h3>Revolutionizing Jewelry Shopping Experience</h3>
            <p>
                Embrace the convergence of innovation, personalization, and sustainability with ArtisanAura, your go-to online platform for high-quality, distinctive artisan and locally crafted jewelry. From necklaces to bracelets, rings, and engagement rings, our eclectic collection showcases an array of handmade pieces that radiate individuality and creativity.
            </p>
        </div>
{{>newsletter}}
{{>quiz}}
{{>addProduct}}
</main>
