.main-content{
    margin: 40px 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cart-items {
    background-color: white;
    border: 5px solid #daebed;
    border-radius: 10px;
    flex: 70%;
    min-height: 210px;
    margin-right: 50px;
    padding:10px;
}
.side {
    background-color: white;
    border: 5px solid #daebed;
    border-radius: 10px;
    flex: 20%;
    padding:10px;
    position: sticky;
    align-self: flex-start;
    top: 0;
}
.side-content {
    display: flex;
    flex-direction: row;
}
.text {
    font-weight: bold;
    flex: 50%;
    justify-content: flex-start;
}
.cost {
    flex: 50%;
    justify-content: flex-end;
    text-align: right;
}

.total-cost {
    flex: 50%;
    justify-content: flex-end;
    text-align: right;
    font-weight: bold;
}

.card {
    margin: 20px 0; 
    display:flex;
    border-bottom: 1px solid rgb(203, 202, 202);
}
.card-left {
    flex: 30%;
    margin: 0 20px 20px 20px;
}
.card-right {
    flex:70%;
}
.card-title {
    text-decoration: none;
    color: black;
}
.card-image {
    margin-right: 10px;
    margin-bottom: 10px;
}
.card-price {
    font-weight: bold;
}
.card-remove {
    border: none;
}
.card-remove :hover{
    text-decoration: underline;
}