/* CSS for the product page */
.product-page {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  


  .customization-option {
    display: flex;
    gap: 10px;
  }
  
  
  .customization-option input[type="radio"] + label {
    cursor: pointer;
  }
  
  .customization-option input[type="radio"] {
    display: none;
  }
  
  .customization-option input[type="radio"] + label {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .customization-option input[type="radio"]:checked + label {
    background-color: #a3bbd3;
    color: #fff;
  }


  
