<html lang = "en">
<head>
<h1>	</h1>
<h2> Add a product </h2>

<form>
<label for="name"> Jewelry Type</label>
<input type="text" name="name" required placeholder= "type" />

<label for="name"> Description</label>
<input type="text" name="name" required placeholder= "Description" />

<label for="name"> Material</label>
<input type="text" name="name" required placeholder= "Material" />
<br />
<input type= "submit" />








<br />
<br />
<br />

</div>