<section id="newsletter" class="newsletter">

    <h3>Subscribe to ArisanAura Newsletter</h3>
    <form action="/where info goes into db " method="POST">
        <input type="email" name="email" placeholder="Enter Email" required>
        <button type="submit">Subscribe</button>
    </form>
    <p id="newletter-message"></p>
</section>
