
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/sign-in">sign in</a></li>
        <li><a href="https://www.NOWHERE.com">Registration</a></li>
      </ul>
    </nav>


    <main>
      <h2>Login</h2>
      <form action="/users/sign-in" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Login">
      </form>
    </main>
    
  