
<main>
    <div class="container">
            <h2>About ArtisanAura Jewelry</h2>
            <div class="banner">
                <img id="responsive-banner" src="/public/images/Banner_About.jpg" alt="About ArtisanAura Jewelry">
            </div>
           
            <h3>Discover Unique Artisan-Crafted Treasures</h3>
            <p>Browse through our diverse assortment of artisanal jewelry, thoughtfully crafted by local artisans, each piece telling a unique story. Our aim is to shine a spotlight on local craftsmanship, ensuring the artists receive the recognition they deserve while providing you with truly one-of-a-kind treasures.</p>

            <div>
            <h3>Artisan Spotlight</h3>
             <!-- artisan photo and bio -->  
             <!-- artisan video -->
                <div>
                    <h4>Artisan Featured Work</h4>
                    <p>Coming Soon!</p>
                <!-- artisan product grid --> 
                </div>
            </div>

            <div>
            <h3>Your Personalized Shopping Experience</h3>
            <p>ArtisanAura takes personalization to a new level. Our interactive charm and engraving feature allow you to add a personal touch to your selected pieces. You can also take our style quiz to discover jewelry curated to your individual style preferences. Uncover the unique, meaningful narratives behind our pieces as we provide in-depth content about their symbolic and cultural meanings.</p>
            </div>

            <div>
            <h3>Explore Products</h3>
            <!-- add product grid -->
            <p>Coming Soon!</p>
            </div>

    </div>

{{>newsletter}}
{{>quiz}}
</main>
