<main>
    <h1> </h1>
    <h2> Add a product </h2>

    <form class="form" method="POST" action="/product/createProduct" enctype="multipart/form-data">
        <div class="input-group">Jewelry Title</label>
            <input class="input-text" type="text" name="title" id="title" placeholder="Title">
        </div>
{{!-- 
        <div class="input-group">Jewelry Type</label>
            <input class="input-text" type="text" name="type" id="type" placeholder="Type">
        </div> --}}

        <div class="input-group">
            <label for="material">Material</label>
            <input class="input-text" type="text" name="material" id="material" placeholder="Material">
        </div>

        <div class="input-group">
            <label for="description">Description</label>
            <input class="input-text" type="text" name="description" id="description" placeholder="Description">
        </div>
        
        <div class="input-group">
            <label for="price">Price</label>
            <input class="input-text" type="text" name="price" id="price" placeholder="Price">
        </div>


        <label for="img">Choose images</label>
        <input class="input-text" type="file" name='uploadImage' id="uploadImage" />

        <br>
        <input type="submit" value="Submit"/>

    </form>

    </div>
</main>