<link rel="stylesheet" href="/public/css/product.css">
<main class="product-page">
    <div class="product-images">
        <h3 class="title">3 Piece ring set</h3>
        <img src="/public/images/Artisan_Spotlight.jpg" alt="Artisan Spotlight">
        
        <div>
        <button class="add-item2">Save</button>
        <button class="add-item2">Share</button>
        </div>
    </div>

    <div class="product-details">
        <h3 class="price">Style: Option1-Option2-Option3-Option4</h3>
        <div class="description">
            <label class="desc-header">Jewel: Option1-Option2-Option3-Option4 </label>
            <p class="description">{{currentProduct.description}}</p>
        </div>
        <div class="quantity-dropdown">
                <label for="quantity">Length:</label>
                <select name="quantity" id="quantity">
                  
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  
                </select>
            </div>

        <div class="quantity-dropdown">
                <label for="quantity">Quantity:</label>
                <select name="quantity" id="quantity">
                  
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  
                </select>
            </div>
            <button class="add-item">Check out</button>
        <button class="add-item">Add to cart</button>
    </div>

{{>newsletter}}
{{>quiz}}
</main>