<main>
    <div class="container4">
        <h2>Size Guides:</h2>
        <div class="banner">
        </div>
        <div>
            <h3>Ring Guide</h3>
            <style>
                #responsive-banner {
                    max-width: 45%;
                    height: auto;
                }
            </style>
            <img id="responsive-banner" src="/public/images/jewelryRing.jpg" alt="Ring Guide">

            <!-- artisan video -->
            <div>
                <h4>Necklace Guide</h4>
                <img id="responsive-banner" src="/public/images/jewelryNecklace.png" alt="Necklace Guide">

                <!-- artisan product grid -->
            </div>
        </div>

        <div>
            <h3>Bracelet Guide</h3>
            <img id="responsive-banner" src="/public/images/jewelryBracelet.jpg" alt="Ring Guide">
        </div>

        <div>
            <h3>Maintenance Guide:</h3>
            <!-- add product grid -->
            <p>- Store jewelry in a clean, dry place.</p>
            <p>- Avoid harsh chemicals.</p>
            <p>- Use mild cleaners for regular maintenance.</p>
            <p>- When unsure, take it off.</p>
        </div>

    </div>

    {{>newsletter}}
    {{>quiz}}
</main>