<head>
    <style>
    .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: ##008080;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e2e6ea;
}

</style>
</head>

<main>
<!--
    <div class="container">
        <h2>PHOTOS/VIDEOS GO HERE FORMMATED FOR PHOTOS RIGHT NOW</h2>
        <div id="postThumbnails" class="post-thumbnails">
            <div class="post-card">
                <div class="post-thumbnail">
                    <a href="/link to image" target="_self">
                        <img src="/path to image" alt="path to image" style="border-radius:15px">
                        style adjustable, still need to adjust routes
                    </a>
                </div>
            </div>
        </div>
    </div>

 -->
        <div class="container">
            <h2>Welcome to ArtisanAura Jewelry</h2>
            <div class="banner">
                <img id="responsive-banner" src="/public/images/Banner_Home_Page.jpg" alt="ArtisanAura Jewelry">
            </div>
           
            <h3>Revolutionizing Jewelry Shopping Experience</h3>
            <p>Embrace the convergence of innovation, personalization, and sustainability with ArtisanAura, your go-to online platform for high-quality, distinctive artisan and locally crafted jewelry. From necklaces to bracelets, rings, and engagement rings, our eclectic collection showcases an array of handmade pieces that radiate individuality and creativity.</p>
            

            <div>
            <h3>Your Personalized Shopping Experience</h3>
            <p>ArtisanAura takes personalization to a new level. Our interactive charm and engraving feature allow you to add a personal touch to your selected pieces. You can also take our style quiz to discover jewelry curated to your individual style preferences. Uncover the unique, meaningful narratives behind our pieces as we provide in-depth content about their symbolic and cultural meanings.</p>
            </div>

            <div>
            <h3>Customize Your Own</h3> 
            <!-- add feature --> 
            
            <a href="productsingle" class="btn">Customize Your Own</a>

            <!--
            <a type="text" href="productsingle">Product Example 1</a>
            <a type="text" href="customproduct">Custom Product Example 1</a> -->
            </div>

            <div>
            <h3>Join the ArtisanAura Community</h3>
            <p>By choosing ArtisanAura, you contribute to a more ethical, sustainable, and customer-oriented future in the online jewelry retail industry. Come join us in revolutionizing the way you discover and connect with unique, meaningful jewelry. Embark on this remarkable journey with us today!</p>
            </div>

        </div>
{{>newsletter}}
{{>quiz}}
</main>
