<link rel="stylesheet" href="/public/css/product.css">
<main class="product-page">
    <div class="product-images">
        <h3 class="title">3 Piece ring set</h3>
        <img src="/public/images/Artisan_Spotlight.jpg" alt="Artisan Spotlight">
    </div>

    <div class="product-details">
        <h3 class="price">$39.99{{currentProduct.price}}</h3>
        <div class="description">
            <label class="desc-header">Description: Great rings that will last you a lifetime. </label>
            <p class="description">{{currentProduct.description}}</p>
        </div>
        <label>Rating: 4.7/5 (1134 reviews) </label>

        <div class="quantity-dropdown">
                <label for="quantity">Quantity:</label>
                <select name="quantity" id="quantity">
                  
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  
                </select>
            </div>
           <a href="customproduct" style="text-decoration: none;"><button class="add-item">Customize</button></a>
            <a href="#" style="text-decoration: none;"><button class="add-item">Add to cart</button></a>
    </div>

{{>newsletter}}
{{>quiz}}
</main>