<link rel="stylesheet" href="/public/css/forms.css">
<main class="registration-content">
    <div class="container3">
        <h2>Registration Form</h2>
        <form id="form" class="form" method="post" action="/users/registration" method="POST"
            enctype="application/x-www-form-urlencoded">
            <div class="input-group">
                <input class="input-text" type="text" name="name" id="name" required="" >
                <label for="name">Name</label>
                <div class="error"></div>
            </div>

            <div class="input-group">
                <input class="input-text" type="password" name="password" id="password" required="">
                <label for="password">Password</label>
                <div class="error"></div>
            </div>

            <div class="input-group">
                <input class="input-text" type="password" name="confirm-password" id="confirm-password" required="">
                <label for="confirm-password">Confirm Password</label>
                <div class="error"></div>
            </div>

            <div class="input-group">
                <input class="input-text" type="email" name="email" id="email"required="">
                <label for="email">Email</label>
                <div class="error"></div>
            </div>

            <div class="checkbox">
                <label for="ageOfConsent">Yes, I am 13+ years of age</label>
                <input type="checkbox" name="ageOfConsent" id="ageOfConsent" required="">
                <div class="error"></div>
            </div>

            <div class="checkbox">
                <label for="TOS">I have read and agree to the</label>
                <a target="_blank" href="/termsService">
                    Terms of Service & Privacy Policy
                </a>
                <input type="checkbox" name="TOS" id="TOS" required="">
                <div class="error"></div>
            </div>

            <input class="submit" type="submit" value="Create Account">
            <div id="error"></div>
        </form>
    </div>
</main>