<main>
    <div class="container">
            <h2>Shop ArtisanAura Jewelry</h2>
            <div class="banner">
                <img id="responsive-banner" src="/public/images/Banner_Shop.jpg" alt="Shop ArtisanAura Jewelry">
            </div>

            <h3>Shop With Confidence</h3>
            <p>Our commitment to transparency and ethical sourcing sets us apart in the jewelry retail industry. We give you access to comprehensive information about our supply chains, so you can make conscious, informed purchases. Our vibrant community of users shares honest reviews, guiding your buying decisions while helping us improve your shopping experience.</p>
            <div>
            <!-- add product filter -->
            </div>

            <div>
            <h3>Explore Products</h3>
            <!-- add product grid -->
            <p>Coming Soon!</p>
            </div>
           
            <div>
            <h3>Discover Your Unique Style with Our Quiz</h3>
            <p>Experience personalized shopping with our unique style quiz. Tailored to your preferences, this quick, engaging quiz uncovers your distinct taste, leading you to curated jewelry selections from our handcrafted collection. Start your simplified, rewarding shopping journey with the ArtisanAura style quiz today. Let your style shine through your jewelry choices.</p>
            </div>

    </div>

{{>newsletter}}
{{>quiz}}
</main>