<footer class="botm-footer">
    <a id="about-us" target="_self" href="/ComingSoon">About us</a>
    <a id="shop" target="_self" href="/ComingSoon">Shop</a>
    <a id="TOS" target="_self" href="/ComingSoon">Terms & Conditions</a>
    <a id="privacy" target="_self" href="/PrivacyPolicy">Privacy Policy</a>
   
    
    {{!-- artisanaurajewelry@gmail.com --}}
    
    

    <!-- ^^^ edit for social media links, add in logs to click  -->
    ArtisanAura &copy; 2023 V.1
    <a id="mail-link" href="mailto:artisanaurajewelry@gmail.com">Contact Us</a>
    <a id="facebook" target="_self" href="https://www.facebook.com/profile.php?id=100094374397073"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a id="twitter" target="_self" href="https://twitter.com/ArtisanAura"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a id="instagram" target="_self" href="https://www.instagram.com/artisanaurajewelry/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
</footer>