<div class="container2">
    <section id="newsletter" style="width: 100%;" class="newsletter">
        <h3>Join the ArtisanAura Community</h3>
        <form action="/where info goes into db " method="POST">
            <input type="email" name="email" placeholder="Enter Email" required>
            <button type="submit">Subscribe</button>
        </form>
        <p id="newletter-message"></p>
    </section>
</div>