<link rel="stylesheet" href="/public/css/product.css">
<main class="product-page">
    <div class="product-images">
        <h3 class="title">Handmade Gold Ring Stack</h3>
        <img src="/public/images/Artisan_Spotlight.jpg" alt="Artisan Spotlight">
        
        <div style="margin: 20px;">
        <button class="add-item2" style="margin:10px;">Save</button>
        <button class="add-item2" style="margin:10px;">Share</button>
        </div>
    </div>

    <div class="product-details">
        <h3>Create Your Unique Style</h3>
        <p>Style: Option1-Option2-Option3-Option4</p>
        <p>Jewel: Option1-Option2-Option3-Option4</p>
       <!-- <h3 class="price">Style: Option1-Option2-Option3-Option4</h3> 
        <div class="description">
            <label class="desc-header">Jewel: Option1-Option2-Option3-Option4 </label>
            <p class="description">{{currentProduct.description}}</p>
        </div> -->
        <div class="quantity-dropdown">
                <label for="quantity">Length:</label>
                <select name="quantity" id="quantity">
                  
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  
                </select>
            </div>

        <div class="quantity-dropdown">
                <label for="quantity">Quantity:</label>
                <select name="quantity" id="quantity">
                  
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  
                </select>
            </div>
            <form action="/product/add-custom-item" method="POST" enctype="application/x-www-form-urlencoded">
                <button class="add-item">Add to cart</button></a>
            </form>
        <a href="cart" style="text-decoration: none;">
    </div>

<!-- 
{{>newsletter}}
{{>quiz}} -->
</main>