<link rel="stylesheet" href="/public/css/product.css">
<main class="product-page">
    <div class="product-images">
        <h3 class="title">Handmade Gold Ring Stack</h3>
        <img src="/public/images/Artisan_Spotlight.jpg" alt="Artisan Spotlight">
    </div>

    <div class="product-details">
        <h3 class="price">$3090.00{{currentProduct.price}}</h3>
        <p>Experience the allure of versatility with our Handmade Gold Ring Stack, featuring a blend of diamonds and unique embossed designs. This captivating collection is handcrafted from high-quality 14k gold and features a range of distinctive designs. Some rings in the stack dazzle with carefully set diamonds that catch the light with every movement, while others boast embossed patterns, adding a tactile dimension to the collection. Whether you wear them all together for a statement look, separately for a subtle hint of gold, or mix and match to suit your mood, these rings offer a multitude of styling options. This ring stack isn't just jewelry - it's a playground for your creativity and a testament to your individual style. </p>

      <!--  <div class="description">
           <label class="desc-header"></label> 
            <p class="description">{{currentProduct.description}}</p>
        </div> -->
        <label>Rating: 4.7/5 (1134 reviews) </label>

        <div class="quantity-dropdown">
                <label for="quantity">Quantity:</label>
                <select name="quantity" id="quantity">
                  
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  
                </select>
            </div>
        <a href="customproduct" style="text-decoration: none;"><button class="add-item">Customize</button></a>
        <form action="/cart/add-custom-item" method="POST" enctype="application/x-www-form-urlencoded">
            <button class="add-item">Add to cart</button></a>
        </form>
    </div>
</main>